<div fxLayoutAlign="center center" fxFlexFill class="login-wrapper">
    <mat-card fxFlex="25">
            <h1>Fundoo</h1>
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input matInput placeholder="UserName" type="text" [(ngModel)]="userName" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="UserName" type="password" [(ngModel)]="password" required>
              </mat-form-field>
              <button mat-raised-button color="primary" (click)="loginUser()">Login</button>
    </mat-card>
</div>
